*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #050505;
	color: #ccc;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

.user-container{
	display: flex;
	flex-direction: column;
	border: 1px solid #444;
	border-top: none;
	border-bottom: none;
	width: 100%;
	max-width: 600px;
	height: 100%;
	height: 100vh;
	margin: auto;
}

.user-top-row{
	display: flex;
	align-items: center;
	color: #eee;
	padding-top: .6em;
	padding-bottom: .3em;
}

.seta{
	width: 10px;
	height: 10px;
	background-color: #eee;
	margin-left: 1.2em;
	margin-right: 2.5em;
}

.about h1{
	font-size: 1.2em;
}

.about p{
	font-size: .8em;
	color: #888;
}

.user-header{
	display: flex;
	background-color: #888;
	width: 100%;
	max-width: 100%;
	min-height: 11.5em;
	margin-bottom: 0;
	background-image: url("https://cdn.clickwallpapers.net/images/clickwallpapers-cidade-de-sao-paulo-wallpaper-img3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.user-body{
	display: flex;
	flex-direction: column;
	padding: 1em;
	padding-top: .7em;
}

.pfp{
	display: flex;
	margin-top: -80px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 4px solid #050505;
}

.e-button{
	display: flex;
	min-width: 118px;
	text-align: center;
	color: #eee;
	font-weight: bold;
	padding: .5em;
	padding-bottom: .4em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #050505;
	border-radius: 20px;
	border: 1px solid #89a;
	font-size: 1em;
	margin-left: auto;
	margin-right: 0px;
	margin-top: -60px;
	margin-bottom: 3em;
	transition: 150ms;
}

.e-button:hover{
	background-color: #222;
}

.user-nick-container{
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.nick{
	color: #eee;
	font-size: 1.2em;
	font-weight: bold;
}

.id{
	font-size: .9em;
	color: #777;
	font-weight: normal;
}

.user-description{
	margin-bottom: 1em;
}

.date{
	margin-bottom: 1em;
	color: #777;
	display: flex;
}

.no-graphyc{
	width: 20px;
	background-color: #777;
	margin-right: .5em;
}

.ranking .linran{
	color: #777;
	font-size: .9em;
	text-decoration: none;
	margin-right: 1em;
}

.linran:hover{
	text-decoration: underline;
	text-decoration-color: #eee;
}

.ranking .linran .destaque{
	color: #eee;
}

.user-footer{
	display: flex;
	margin-top: .5em;
	border-bottom: 1px solid #555;
}

.botao{
	width: 100%;
	max-width: 100%;
	text-decoration: none;
	color: #777;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	transition: 150ms;
}

.botao:hover{
	background-color: #222;
}

.selected{
	color: #eee;
}