*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

html, body{
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	min-height: 100%;
}

main{
	flex: 1 0 auto;
}

body{
	background-color: #000;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	color: #ddd;
}

.user{ 
	max-width: 600px;
	margin: auto;
	background-color: #222;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

.user-header{
	display: flex;
	flex-direction: column;
}

.user-header2{
	display: flex;
	flex-direction: row;
	margin-bottom: 2px;
}

.user-header .bloco{
	display: flex;
	flex-direction: column;
}


.seta{
	display: flex;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-image: url("img/seta.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-left: 15px;
}

.user-header .bloco{
	margin-left: 30px;
}

.background{
	background-image: url("img/background.jpg");
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 190px;
}

.header2-nick{
	font-size: 1.2em;
	margin-top: 8px;
	margin-bottom: 8px;
}

.header2-tweets{
	font-size: .8em;
	color: #888;
	font-weight: 100%;
}

.pfp{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-image: url("img/pfp.jpg");
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
	border: 4px solid #000;
	margin-left: 16px;
}

.pfp-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: -80px;
}

.button{
	display: flex;
	margin-top: 80px;
	margin-right: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #ddd;
	font-size: .9em;
	padding: 0 20px 0 20px;
	border-radius: 20px;
	height: 35px;
	align-items: center;
	border: 1px solid #ddd;
}

.nome{
	margin-left: 18px;
	margin-top: 15px;
	font-size: 1.3em;
	font-weight: bold;
	font-weight: bold;
	margin-bottom: 4px;
}

.nick{
	font-size: .8em;
	color: #666;
	margin-left: 18px;
	font-weight: 0;
}

.user-body{
	padding: 20px;
}

.localidade-data{
	display: flex;
	flex-direction: row;
}

.localidade{
	margin-right: 15px;
}

.descricao{
	margin-bottom: 10px;
}

.local{
	color: #666;
}

.localidade-icon{
	width: 20px;
	display: overline;
	transform: translateY(3px);
}

.data{
	display: flex;
	flex-direction: row;
}

.dat{
	color: #666;
	transform: translateY(-3.5px);
}

.calen-icon{
	width: 25px;
	transform: translateY(3.5px);
}

.footer{
	display: flex;
	width: 100%;
	border-bottom: 1px solid #666;
}

.footer ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 100%;
}

.footer ul li{
	width: 100%;
}

.footer-item{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ddd;
	height: 50px;
	text-decoration: none;
}

footer{
	flex-shrink: 0;
}